<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="./web/style/style.css" />
  <title>Homebanking</title>
</head>

<body class="mainContainer">
  <main class="d-flex flex-column align-items-center" id="app">
    <section>
      <h2>Client Manager</h2>
      <form class="bg-secondary-subtle border border-black rounded-2 p-3">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp" v-model="firstName" />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp" v-model="lastName" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="email"/>
        </div>
        <button type="submit" class="btn btn-primary" @click="addClient">
          Add client
        </button>
      </form>
    </section>
    <section>
      <h2>Client list</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="client of clients">
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.email}}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <div>
      <h2>Client json</h2>
      <pre>{{ clients }}</pre>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./web/script/manager.js"></script>
</body>

</html>